@import '../../styles/common.module.scss';

.post {
  padding-bottom: 80px;

  header {
    margin-bottom: 80px;
    max-height: 400px;
    overflow-y: hidden;
    
    img {
      width: 100%;
    }
  }
}

.postHeader {
  margin-bottom: 108px;

  h1 {
    margin-bottom: 24px;
    font-size: 3.5rem;
    color: var(--gray-100);
  }
}

.postParagraph {
  color: var(--gray-100);

  & + .postParagraph {
    margin-top: 3rem;
  }

  h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  a {
    color: var(--purple-300);

    transition: filter 0.3s;
    &:hover {
      filter: brightness(0.7);
    }
  }
}

.paragraphContent {
  font-size: 1.25rem;
  line-height: 1.75rem;
}