.header {
  background: var(--gray-700);
  height: 105px;

  display: flex;
  align-items: center;

  img {
    cursor: pointer;

    transition: filter 0.3s;
    &:hover {
      filter: brightness(0.7);
    }
  }
}